<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/contact.jpg');">
        <h2 class="text-uppercase">Get in touch with US</h2>
    </div>
    
    
    <div class="section ">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                   <div class="text-center titre" > 
                       <h2>Get Information</h2>
                       <p class="ktiba"><b>Adress: </b>Bhar lazrek la Marsa</p>
                       <p class="ktiba"><b>Téléphone : </b>53 845 167</p>
                       <p class="ktiba"><b>Fix : </b>31 166 006</p>
                       <p class="ktiba"><b>Email : </b>looh.comp@gmail.com</p>
                  </div>                    
                </div>
            </div>
        </div>
    </div>
<!--Formulaire-->
    <div class="section ">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">Send Us a Message</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                                <div class="input-group" >
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Name"  >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <div class="input-group" >
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email"  >
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Number</label>
                                <div class="input-group" >
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="nc-icon nc-mobile"></i></span>
                                    </div>
                                    <input type="number" class="form-control" placeholder="Number"  >
                                </div>
                            </div>
                            
                        </div>
                        <label>Message</label>
                        <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
