<h2 class="my-4">Looh Products</h2>

<div class="list-group" >
  <a [routerLink]="['/viewall']" class="list-group-item" > All Product </a>
  
  
</div>
        <div class="list-group" *ngFor="let c of catList">
          <a routerLink ="/categorie/{{c.catid}}" class="list-group-item" > {{c.CatName}} </a>
          
          
        </div>

        <div class="list-group" >
          <a [routerLink]="['/create']" class="list-group-item btn-success" > Add </a>
          
          
        </div>
