<!-- Top Acceuil -->
<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/acceuil.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>ONLY FOR NATURE LOVERS AND FREE SPIRITS</h1>
            <h3>100% Tunisian wood products</h3>
            <br />
            <button type="button" class="btn btn-outline-neutral btn-round az">Shop Now </button>
        </div>
    </div>
</div>
<!-- Our Products-->
<div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">OUR PRODUCTS</h2>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <div>
                      <img src="assets/img/looh.jpg" class="img-rounded img-responsive" alt="Rounded Image">
                    </div>
                    <div class="description">
                        <h4 class="info-title"><b>LOOH Home</b></h4>
                        <p class="description">By embracing simplicity and imperfection, we create our personal refuge.</p>
                        <a href="#pkp" class="btn btn-outline-danger btn-round">Shop Now<i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <div >
                        <img src="assets/img/Phone.jpg" class="img-rounded img-responsive" alt="Rounded Image">
                    </div>
                    <div class="description">
                        <h4 class="info-title"><b>LOOH Accessories</b></h4>
                        <p>message lahne mta deux phrases describing home Accessories</p>
                        <a href="#pkp" class="btn btn-outline-danger btn-round">Shop Now <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>              
        </div>

    </div>
</div>
<!-- Hot Deal -->
<div id="hot-deal" class="section" style="background-image: url(./assets/img/deal.png);">
    
    <div class="container">
      
      <div class="row">
        <div class="col-md-12">
          <div class="hot-deal">
            <ul class="hot-deal-countdown">
              <li>
                <div>
                  <h3>02</h3>
                  <span>Days</span>
                </div>
              </li>
              <li>
                <div>
                  <h3>10</h3>
                  <span>Hours</span>
                </div>
              </li>
              <li>
                <div>
                  <h3>34</h3>
                  <span>Mins</span>
                </div>
              </li>
              <li>
                <div>
                  <h3>60</h3>
                  <span>Secs</span>
                </div>
              </li>
            </ul>
            <h2 class="text-uppercase dd">New Year Deal</h2>
            <p class="cc"><b>New Year & Chrismass Limited Products Up to 50% OFF</b></p>
            <a class="btn btn-outline-neutral btn-round" href="#">Grap it Now<i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      
    </div>
    
  </div>
<!-- Fans -->
<div class="section section-dark" id="carousel">
        <div class="container text-center ">
            <div class="col-md-4 float-left">
                <h1 class="fans">FEEDBACK FROM OUR SATISFIED FANS</h1>
            </div>

        
            <div class="row">
                <div class="col-md-10">
                    <div class="card page-carousel ">
                        <ngb-carousel>
                            <ng-template ngbSlide>
                                <img src="./assets/img/Aymen.jpg" alt="Random first slide">
                                <div class="carousel-caption">
                                    <h5 class="name xx" >Aymen Khlil</h5>
                                    <p class="name" >Quaerat ullam reprehenderit eos atque possimus laboriosam porro numquam debitis, placeat aliquid quod!</p>
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="./assets/img/Anas.jpg" alt="Random second slide">
                                <div class="carousel-caption">
                                    <h5 class="name xx" >Anas Zouabi</h5>
                                    <p class="name" >Vero accusamus ullam sapiente officia modi possimus quidem numquam architecto, laboriosam debitis repellendus.</p>
                                </div>
                            </ng-template>
                            <ng-template ngbSlide>
                                <img src="./assets/img/Radhwen.jpg" alt="Random third slide">
                                <div class="carousel-caption">
                                    <h5 class="name xx" >Radhwen</h5>
                                    <p class="name" >inventore illum possimus quia. Modi nulla molestiae facilis eos voluptates similique et commodi error temporibus!</p>
                                </div>
                            </ng-template>
                        </ngb-carousel>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Meet the Team -->
<div class="section section-dark text-center">
        <div class="container">
            <h2 class="title">Meet The Founders</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <img src="./assets/img/Hela.jpg" alt="Hela Agrebi">
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Hela Agrebi</h4>
                                    <h6 class="card-category">COO</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores neque iste delectus? Temporibus accusamus deserunt beatae in blanditiis, dolor dolores omnis hic! A beatae recusandae repellendus laborum fugiat vero distinctio?
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-facebook"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-instagram"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <img src="./assets/img/Ali.jpg" alt="Med Ali Selmi">
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Med Ali Selmi</h4>
                                    <h6 class="card-category">CEO</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio deserunt cum quae obcaecati nesciunt corrupti incidunt laboriosam qui. Ipsum illo accusamus excepturi expedita iure nisi dicta tempore tempora numquam cum.
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-facebook"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-instagram"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <img src="./assets/img/test.PNG" alt="Anas Zouabi">
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Anas Zouabi</h4>
                                    <h6 class="card-category">CTO</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio deserunt cum quae obcaecati nesciunt corrupti incidunt laboriosam qui. Ipsum illo accusamus excepturi expedita iure nisi dicta tempore tempora numquam cum.
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-facebook"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-instagram"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

<!-- NEWSLETTER -->
<div id="newsletter" class="section">
   
    <div class="container">
      
      <div class="row">
        <div class="col-md-12">
          <div class="newsletter">
            <p>Sign Up for Our <strong>NEWDEALS</strong></p>
            <form>
              <input class="input" type="email" placeholder="Enter Your Email">
              <button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
            </form>
            <ul class="newsletter-follow">
              <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      
    </div>
    
  </div>
  







 