<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/woodbg.jpg');">
        <div class="filter"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                      <div class="card card-register">
                          <h3 class="title">Welcome</h3>
                          <div class="social-line text-center">
                              <a href="#pablo" class="btn btn-neutral btn-facebook btn-just-icon">
                                  <i class="fa fa-facebook-square"></i>
                              </a>
                              
                              <a href="#pablo" class="btn btn-neutral btn-twitter btn-just-icon">
                                  <i class="fa fa-twitter"></i>
                              </a>
                          </div>
                          <form class="register-form" #login="ngForm" >
                              <label>Email</label>
                              <div class="input-group form-group-no-border">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-email-85"></i>
                                  </span>
                                </div>

                                  <input type="text" class="form-control" placeholder="Email" name="Email" [(ngModel)]="Email"  >
                              </div>
                              <div *ngIf="Email.errors && (Email.invalid && Email.touched)" class="alert alert-danger">
                                <small  *ngIf="Email.errors.required">Email is Required</small>
                                <small  *ngIf="Email.errors.pattern">Email is wrong</small>
                            </div>

                              <label>Password</label>
                              <div class="input-group form-group-no-border">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                      <i class="nc-icon nc-key-25"></i>
                                  </span>
                                </div>
                                  <input type="password" class="form-control" placeholder="Password" name="Password" [(ngModel)]="Password" >
                              </div>
                              <button class="btn btn-danger btn-block btn-round" [disabled]="login.invalid" >Connect</button>
                              <button [routerLink]="['/register']"  type="button" class="btn btn-block btn-danger">Make an Account</button>
                          </form>
                          <div class="forgot">
                              <a href="#" class="btn btn-link btn-danger">Forgot password?</a>
                          </div>
                      </div>
                    </div>
                </div>
                
            </div>
    </div>
</div>
